DJANGO_DEBUG=1
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,readinglocal.a007.bid
DJANGO_CSRF_TRUSTED_ORIGINS=https://readinglocal.a007.bid
POSTGRES_DB=reading
POSTGRES_USER=reading
POSTGRES_PASSWORD=
DATABASE_URL=
